@model IEnumerable<CourseRegisterSystem.DTO.EnrollmentDto>

@{
    ViewData["Title"] = "Trang chủ";
}

<h1>Danh sách đăng ký của sinh viên @ViewData["StudentName"] - Kỳ @ViewData["TermName"]</h1>
@if (!(bool) ViewData["IsActive"])
{
    <h1>Chưa đến hoặc đã quá thời hạn đăng ký</h1>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
        </tr>
}
    </tbody>
</table>
